/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color: #2E3047;
}

.authors{
    background-color: #c8d8e4;
}

.body{
    background-color: #3BBA9C;
}

.footer{
    background-color: #2E3047;
    color: #3BBA9C;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

nav,.logo {
    height: 75px;
}

.nb-background-color{   /* navbar background color */
    background-color: #2E3047;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #c8d8e4;
}

.overview-font {
    color: #2E3047;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #c8d8e4;
    padding: 1px;
    color: #2E3047;
}

.procedure-head th {
    background-color: #2E3047;
    color: #c8d8e4;
}

.howTo {
    color: #2E3047;
}

.showcase{
    background-color: #2b6777;
    color: #c8d8e4;
}

td img {
    width: 200px;
    height: auto;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
    color: #3BBA9C;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}