/* ----------------- Class CSS ----------------- */

.about{
    width: 400px;
    margin: auto;
}

.about-team{
    color: #2E3047;
}

.authors{
    background-color: #c8d8e4;
}

.body{
    background-color: #3BBA9C;
    padding-top: 66px;
}

.caption {
    font-size: 18px;
    color: #2E3047;
}

.footer{
    background-color: #2E3047;
    color: #3BBA9C;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.logo {
    max-height: 75px;
    margin: -10px 0;
}

.nb-background-color{   /* navbar background color */
    background-color: #2E3047;
}

.nbMenuItem{               /* navbar link text properties */
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: center;
}

.overview{
    background-color: #c8d8e4;
}

.overview-font {
    color: #2E3047;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #c8d8e4;
    padding: 1px;
    color: #2E3047;
}

.procedure-head th {
    background-color: #2E3047;
    color: #c8d8e4;
}

.howTo {
    color: #2E3047;
}

.showcase {
    color: #c8d8e4;
    padding: 100px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/atoms.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

td img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

/* ----------------- ID CSS ----------------- */

#results-graph {
    max-width: 1000px;
}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
    color: #3BBA9C;
    transition: background-color 0.35s ease-out;
  }

  .hover-underline-animation:hover {
    background-color: hsl(235, 21%, 20%);
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}